<!--client details -->
<div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default" id="address">
                  <div class="panel-heading">
                    <h4>Sky Corporate</h4>
                  </div>
                  <div class="panel-body">
                    <p>
                    Sky Plc <br>
                    Grant Way <br>
                    Isleworth <br>
                    TW7 5QD <br>
                    UK
                    </p>
                  </div>
                </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default" id="statement">
                  <div class="panel-heading">
                    <h4>Statement</h4>
                  </div>
                  <div class="panel-body">
                    <p>
                        <br>
                       <b>Due: </b><%= @statement["due"] %> <br>
                       <b>Period: </b><%= %( #{@statement["period"]["from"]} to #{@statement["period"]["to"]}) %> <br>

                    </p>
                  </div>
                </div>
        </div>
      </div> <!-- / end client details section -->
