<div class="row text-center">
  <div class="col-xs-2 col-xs-offset-8">
    <p>
      <strong>
      Sub Total : <br>
      TAX : <br>
      Total : <br>
      </strong>
    </p>
  </div>
  <div class="col-xs-2">
    <strong>
    <%=  @grand_total  %> <br>
    N/A <br>
    <%=  @grand_total  %><br>
    </strong>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-info" id="bank-details">
      <div class="panel-heading">
        <h4>Bank details</h4>
      </div>
      <div class="panel-body">
        <p>Your Name</p>
        <p>Bank Name</p>
        <p>SWIFT : -------</p>
        <p>Account Number : 12345678</p>
        <p>IBAN : ------</p>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="span7">
      <div class="panel panel-info" id="contact-details">
        <div class="panel-heading">
          <h4>Contact Details</h4>
        </div>
        <div class="panel-body">
          <p>
            Name : Fernando Salgueiro <br> <br>
            Email : fernando.salg@gmail.com <br><br>
            Mobile : +9999999 <br>
          </p>
          <h4><small>payment should be mabe by Bank Transfer</h4>
        </div>
      </div>
    </div>
  </div>
</div>
